/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-field:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.choice-box:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.borderError {  
     -fx-text-box-border: red ;
     -fx-focus-color: red ;   
}

.borderCorrect {  
     -fx-text-box-border: green ;
     -fx-focus-color: green ;   
}

.pane:hover {
	-fx-background-color: #0277BD;
}
